body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
.body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;

}



header,footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(first.jpg);
    background-position: center;
    height: 72px;
    color: #E5E7EB;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
}
/* .container{
    height: 50px;
} */



header {
    justify-content: center;
    position: fixed;
    top:0;
    background: none !important;
}
.header-contents{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .left{
    display: flex;
}
header .left img{
    margin: 10px;
    height: 44px;
    transition: 0.3s;
}
header .left img:hover{
    height: 54px;
    transition: 0.3s;
}
header .right{
    display: flex;
}
.right ul{
    list-style: none;
    display: flex;
}
.right li{
    padding: 10px;
}
.right li a{
    text-decoration: none;
    color: purple;
    font-weight: 700;
    transition: 0.3s;
}
.right li a:hover{
    color: rgb(88, 41, 88);
    font-weight: 900;
    font-size: 24px;
    transition: 0.3s;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-direction: column;
}




.section{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.first-section{
    background-image: url(first.jpg);
    background-size: cover;
}
.contents{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.first-section .left-part{
    width: 50%;
    padding-right: 20px;
}
.left-part h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.left-part p{
    font-size: 18px;
    color: #E5E7EB;
}
.left-part button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px;
    width: 120px;
    border-radius: 12px;
    border: none;
}

.first-section .right-part{
    width: 50%;
}
.right-part img{
    width: 100%;
    aspect-ratio: ratio(1);
}



.second-section{
    background-color: white;
}


.second-section .contents{
    flex-direction: column;
}
.second-section .title{
    align-items: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    width: 100%;
    text-align: center;

}
.second-section .card-container{
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    flex-basis: content;
    width: 100%;

}
.second-section .card{
    width: 250px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
.second-section .card img{
    height: 250px;
    width: 250px;
    border: #3882f6 solid 5px;
    border-radius: 30px ;
}
.card p{
    align-items: center;
    text-align: center;
    padding: 2px;
    color: #1f2937;
    font-size: 24px;

}


.third-section{
    background-color: #E5E7EB;
}
.third-section .contents{
    flex-direction: column;
}
.third-section .quote{
    font-style: italic;
    font-weight:  lighter;
    font-size:  36px;
    color:  #1f2937;
}
.third-section .quoter{
    width: 100%;
    align-items: end;
    color: #1f2937;
    text-align: end;
    margin-top: -35px;
    font-size: 20px;
    font-weight: 700;
}


.fourth-section{
    background-color: white;
}

.fourth-section .blue-section{
    background-color: #3882f6;
    color:#f9faf8;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}
.blue-section .left-side{
    padding: 0;
    margin: 0;
}
.left-side h1{
    margin-bottom: 0;
}
.left-side p{
    margin-top: 0;
}
.blue-section button{
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    width: 120px;
    border-radius: 12px;
    border: #f9faf8 3px solid;
}

@media screen and (max-width: 1350px){
    .body-container{
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .second-section,.first-section{
        height: fit-content;
    }
    .second-section .card-container{
        justify-content: space-between;
    }
    .card-container .card{
        flex-basis: 45%;
    }
    .card p{
        width: 250px;
    }
}
@media screen and (max-width: 1023px){
    .first-section .contents{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        width: 90%;
    } 
    .second-section,.first-section{
        height: fit-content;
    }
}
@media screen and (max-width: 675px){
    .body-container{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .second-section,.first-section,.third-section{
        height: fit-content;
    }
    .first-section .contents{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        width: 90%;
    }
    .first-section .contents .left-part{
        width: 100%;
        text-align: justify;
    }
    .left-part .buttonspace{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .first-section .contents .right-part{
        width: 80%;
    }
    .second-section .title{
        font-size: 18px;
    }
    .second-section .card-container{
        justify-content: center;
    }
    .blue-section{
        flex-wrap: wrap;
    }
    .blue-section .left-side{
        text-align: justify;
    }
}
@media screen and (max-width: 280px){
    .header-contents{
        width: 100%;
        justify-content: center;
    }
    .header-list{
        padding: 0px;
    }
    .third-section .quote{
        font-size: 30px;
        text-align: center;
    }
    .third-section .quoter{
        font-size: 12px;
    }
}